<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--头部导航栏-->
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow" th:fragment="topbar">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#" th:text="${session.loginUser}"></a>
  <div class="col-md-8">
    <form method="post" id="search">
      <div class="row">
        <input id="searchIN" name="searchMsg" class="form-control form-control-dark w-100 col-md-11" type="text" placeholder="Search" aria-label="Search">
        <button id="searchBU" type="submit" class="btn btn-default col-md-1">Search</button>
      </div>
    </form>
  </div>
  <div class="navbar-nav col-md-1">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" th:href="@{/user/out}">注销</a>
    </div>
  </div>
</header>

<!--侧边栏-->
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" th:fragment="sidebar">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#">
        <p></p>
        </a>
      </li>
      <li class="nav-item">
        <a th:class="${active=='dashboard.html' ? 'nav-link active' : 'nav-link'}" th:href="@{/main.html}" >
          <span data-feather="home"></span>
          首页
        </a>
      </li>
      <li class="nav-item">
        <a th:class="${active=='/user/list.html' ? 'nav-link active' : 'nav-link'}" th:href="@{/users}">
          <span data-feather="users"></span>
          人员管理
        </a>
      </li>
      <li class="nav-item">
        <a th:class="${active=='/device/list.html' ? 'nav-link active' : 'nav-link'}" th:href="@{/devices}">
          <span data-feather="file"></span>
          设备信息查询
        </a>
      </li>
      <li class="nav-item">
        <a th:class="${active=='xx' ? 'nav-link active' : 'nav-link'}" href="#">
          <span data-feather="bar-chart-2"></span>
          路口相关流量监控
        </a>
      </li>

      <li class="nav-item">
        <a th:class="${active=='xx' ? 'nav-link active' : 'nav-link'}" href="#">
          <span data-feather="bar-chart-2"></span>
          异常报告
        </a>
      </li>

      <li class="nav-item">
        <a th:class="${active=='xx' ? 'nav-link active' : 'nav-link'}" href="#">
          <span data-feather="layers"></span>
          识别算法更换
        </a>
      </li>

      <li class="nav-item">
        <a th:class="${active=='xx' ? 'nav-link active' : 'nav-link'}" href="#">
          <span data-feather="bar-chart-2"></span>
          道路监控
        </a>
      </li>

      <li class="nav-item">
        <a th:class="${active=='xx' ? 'nav-link active' : 'nav-link'}" href="#">
          <span data-feather="bar-chart-2"></span>
          设备控制
        </a>
      </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>日志信息</span>
      <a class="link-secondary" href="#" aria-label="Add a new report">
        <span data-feather="plus-circle"></span>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          本日
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          本周
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          本月
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="file-text"></span>
          上一个季度
        </a>
      </li>
    </ul>
  </div>
</nav>

</html>